# Dependencies
node_modules/

# Build outputs
.next/
out/
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Prisma
prisma/migrations/

# TypeScript
*.tsbuildinfo

# Misc
*.pem


public/audio/
/docs/superpowers
/logs/api.log

.worktrees/

.package-lock.json
/package-lock.json
